pom.xml.*
/.settings/
/target/
/.classpath
/.project
/.factorypath
/.springBeans
/.idea

# local files
/info.txt
/logback-spring.xml
/logback-update.xml
/dyndrest.yml
/dyndrest-update**
/domainrobot.yml
/docs/openapi/.swagger-codegen**
