## server settings
server:
  address: 127.0.0.1
  forward-headers-strategy: NATIVE
  port: 8081
  servlet:
    context-path: /
  shutdown: graceful

## dyndrest config
dyndrest:
  greeting-enabled: true
  host-validation-enabled: true
  update-log-page-enabled: false
  update-log-page-size: 30
  update-log-pattern: (.*)\s+-\s+([a-zA-Z\.-]*)\s+(\S*)\s+(\S*)
  update-log-date-pattern: yyyy-MM-dd HH:mm:SSS
  update-log-file-pattern: ./dyndrest-update*

## disable springdoc endpoints and swagger-ui by default
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

domainrobot:
  default-ttl: 60
  ## credentials for the domainrobot sdk
  autodns:
    context: 4
    url: https://api.autodns.com/v1

## import individual config
spring:
  config:
    import: optional:file:./dyndrest.yml

# must beset by the individual properties file
## spring security
#  security:
#    user:
#      name: dyndns
#      password: test123
