<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DynDRest :: Default landing page</title>
	<style>
* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 100.1%;
	min-width: 800px;
	background-color: black;
	color: #F1F1F1;
}

p {
	margin: 40px 0;
	color: rgb(107, 107, 107);
	font-weight: bolder;
}

#main {
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}

#content {
	position: absolute;
	top: 25%;
	transform: translateY(-15%);
}
</style>
</head>

<body>
	<div id="main">
		<div id="content">
			<h1>DynDRest :: A simple REST-service for dynamic DNS.</h1>
			<h2>This is the default landing page of the Rest-API!</h2>
			<br>
			<h3>Are you interested? <br>
			<a href="https://github.com/th-schwarz/DynDRest"><img alt="DynDRest" src="https://img.shields.io/badge/DynDRest-on%20github-yellowgreen" /></a></h3>
		</div>
	</div>
</body>
</html>